.main{
    padding: 0px 50px;
    display: flex;
    align-items: center;

   
}
/* .main:hover{
    color: blue;
} */
.inicio{
    
    animation: pasada 1s;
}
.inicio__letter{
    font-size: 120px;
    font-weight: 900;
    
}
@keyframes pasada{
    0%{
        transform: translate(-100%);
    }
}

.inicio__letter::first-letter{
    color: #58baa0;
}
.inicio__info{
    
    font-size: 20px;
}

@media (max-width: 992px) {
    .main{
        padding: 0px 50px;
    }
    .inicio__info{
        width: 100%;
        font-size: 20px;
    }
    .inicio__letter{
        font-size: 90px;
        font-weight: 900;
    }
}

@media (max-width: 768px) {
    .main{
        padding: 0px 30px;
    }
    .inicio__info{
        
        font-size: 20px;
    }
    .inicio__letter{
        font-size: 100px;
        font-weight: 900;
    }
}

@media (max-width: 576px) {
    .main{
        padding: 0px 30px;
    }
    .inicio__info{
       
        font-size: 20px;
    }
    .inicio__letter{
        font-size: 60px;
        font-weight: 900;
    }
}


